<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1" width="80%"  style="margin-left: 10%;margin-right: 10%;text-align: center">
    　<tr>

        <td colspan="4" style="text-align: center;color:red;background: blue"><b>控制台</b></td>
        　</tr>
    <tr>
        <td  style="color:red;background-color:yellow"><a href="#" style="text-align: left;">批量操作</a></td>
        <td colspan="2" style="background-color:yellow;text-align: center">客户列表</td>
        <td  style="color:red;background-color:yellow">当前在线数：0</td>
    </tr>

    <tr>
        <td><a href="#">121.121.121.121</a></td>
        <td>windows 10</td>
        <td>Total 15.76 GB (7.59 GB available)</td>
        <td>192.168.0.7</td>
    </tr>

    　<!-- <tr>
        <td><a href="#">批量下载</a></td>
        <td><a href="#">批量打开网页</a></td>
        <td><a href="#">批量攻击</a></td>
        <td><a href="#">关于</a></td>
      </tr> -->

</table>
<table border="1" style="margin-left: 10%;margin-right: 10%;text-align: center" width="80%">
    <tr>
    <td colspan="4" style="text-align: center;color:red;background: blue"><b>日志</b></td>
    </tr>

    <tr>
        <td colspan="4"><label>
                <textarea cols="100%" rows="10"></textarea>
            </label></td>
    </tr>
</table>
</body>
</html>