<html>

<head>
    <meta charset="utf-8">
    <script src="js/jquery-3.3.1.js"></script>
    <script>
        function getA(){
            $.get("http://localhost/list.php",function(rsp){
                arr = rsp.split('<br>');
                document.getElementById("div_a").innerHTML = arr[0];
            });
            
        }
        $(function(){
            $("#btn_get").click(function(){
                getA();
            })
        })
    
    </script>
</head>

<body>
    <button id="btn_get">get</button>
    <div id="div_a">

    </div>
</body>

</html>